[submodule "gamba/jquery"]
	path = gamba/jquery
	url = git@github.com:jquery/jquery.git
[submodule "gamba/qunit"]
	path = gamba/qunit
	url = git@github.com:jquery/qunit.git
[submodule "gamba/jquery-ui"]
	path = gamba/jquery-ui
	url = git@github.com:jquery/jquery-ui.git
